@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424; */

  background-color: rgb(23 23 23);
  /*rgb (28 25 23)*/
  /*rgb(10 10 10)*/
  /* rgb(23 23 23) */
  /* rgb(12 10 9) */

  background-image: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/1462889/pat.svg');
  background-position: center;
  /* background-repeat: no-repeat; */
  background-size: 200%;
}
